@use '../variables';

.contact {
    width: 900px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    .contact-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;


        .contact-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            font-size: 1.3rem;


            textarea,
            input {
                background: var(--navbar-bg);
                padding: 0.5rem;
                border-radius: 10px;
                border: 2px solid var(--white);
                font-size: 1.3rem;


                &:focus {
                    outline: none;
                }
            }

            textarea {
                height: 150px;
            }

        }

        button {
            width: 40%;
            font-size: 1.5rem;
            border-radius: 10px;
            padding: 0.5rem 1rem;
            text-align: center;
            background: var(--surface);

            &:hover {
                background: var(--navbar-bg);
            }

            &:active {
                color: var(--accent);
            }
        }
    }

    .contact-right {
        width: 100%;
        display: flex;

        .heading2 {
            font-size: 2.3rem;
        }

        .contact-box {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .left-heading {
                font-weight: 700;
                font-size: 1.5rem;

                h5 {
                    font-size: 1.5rem;
                }

                a {
                    font-size: 1.3rem;
                }
            }
        }
    }

    @media (max-width:680px) {
        width: 100%;
        gap: 5rem;
        grid-template-columns: repeat(1, 1fr);

        .contact-left {
            width: 100%;
        }

        .contact-box {
            width: 100%;

            textarea {
                height: 200px;
            }
        }

        button {
            width: 100%;
        }
    }
}